/*===================================================
=  ESCRITORIO (XL revisamos en 1366px en adelante)  =
=====================================================*/
*{
    /*Cambiar el tipo de letra a Poppins*/
    font-family: 'Poppins', light
  /*font-family: 'Open Sans', sans-serif*/;
} 
ul,ol{
    list-style: none;
}
a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration:  none;
}
body{
	background: #002B5B; 
}
/*=============================================
HEADER
=============================================*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(255,255,255,.5);
}
header .logotipo{
    width:12%;
}
.redes ul li i{
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
header .redes ul li i{
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
header .buscymenu ul li i{
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.redesMovil{
    position: fixed;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,0%);
}
.redes ul li i.fa-facebook-f{
    background: #1475E0;
}
.redes ul li i.fa-instagram{
    background: #EB27B0;
}
.redes ul li i.fa-twitter{
    background: #00A6FF;
}
.redes ul li i.fa-youtube{
    background: #FF1A1A;
}
.redes ul li i.fa-snapchat{
    background: #FF9052;
}

.fa-search, .fa-bars{
    color: white;
}
.redesMovil{
    position: fixed;
    bottom: -10px;
    left: 50%;
    z-index: 10;
    transition: translate(-50%, 0%);
}

/*===============================
BANNER
================================*/
.fade-slider{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.bannerEstatico{
    background: rgba(0,0,0,0);
    /*height: 200px;*/
}
/*=============================================
MENU
=============================================*/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    overflow-x: hidden;
    font-weight: 300;
    display: none;
    font-size: 34px;
    line-height: 70px;
}
.btnClose{
    position: absolute;
    top: 100px;
    right: 25%;
    color: white;
}
.menu .nav{
    margin-top: 10%;
}
/*=============================================
GRID CATEGORIAS
=============================================*/
.grid figure{
    position: relative;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 8px solid white;
    border-right: 8px solid white;
    cursor: pointer;
    transition: 1s all;
}
.grid figure p:hover{
    background: rgba(100, 57, 190, 0.7);
}

.grid .columna1{
    width: 40%;
}

.grid .photo1{
    height: 400px;
    background: url(../img/edgerunners.jpg);
    background-size: cover;
    background position: left;
}
.grid .photo2{
    height: 300px;
    background: url(../img/soulhackers.jpg);
    background-size: cover;
    background position: left;
}
.grid .photo3{
    height: 300px;
    background: url(../img/remakes.jpg);
    background-size: cover;
    background position: left;
}
.grid .photo4{
    height: 300px;
    background: url(../img/2023.jpg);
    background-size: cover;
    background position: left;
}
.grid .photo5{
    height: 400px;
    background: url(../img/mhr-mhrs.png);
    background-size: cover;
    background position: left;
}
.grid .photo6{
    height: 200px;
    background: url(../img/Vivek-thumbnail.jpg);
    background-size: cover;
    background-position: left;
}
.grid figure p{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 100;
    font-size: 20px;
}
/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/
@media (max-width: 1199px) and (min-width: 992px) {
    .menu .nav {
        margin-top: 15%;
    }
    .btnClose{
        right: 15%;
        top: 70px;
    }
}
/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/
@media (max-width: 991px) and (min-width: 768px) {
    header .logotipo {
        width: 25%;
    }
    .btnClose{
        right: 15%;
        top: 70px;
    }
    .menu .nav{
        margin-top: 20%;
    }

    .grid .photo1{
        height: 300px;
    }

    .grid .photo2{
        height: 200px;
    }

    .grid .photo3{
        height: 200px;
    }

    .grid .photo4{
        height: 200px;
    }

    .grid .photo5{
        height: 300px;
    }

    .grid figure p{
        font-size: 18px;
    }
}
/*=============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/
@media (max-width: 767px) and (min-width: 576px) {
    header .logotipo {
        width: 15%;
    }

    .fade-slider {
        height: 72px;
    }

    .btnClose{
        right: 15%;
        top: 50px;
    }

    .menu .nav{
        margin-top: 25%;
    }
    .grid .columna1{
        width: 50%;
    }
    .grid .photo1{
        height: 200px;
    }

    .grid .photo2{
        height: 200px;
    }

    .grid .photo3{
        height: 200px;
    }

    .grid .photo4{
        height: 200px;
    }

    .grid .photo5{
        height: 200px;
    }

    .grid figure p{
        font-size: 16px;
    }
}
/*=============================================
MÓVIL VERTICAL (revisamos en 320px)
=============================================*/
@media (max-width: 575px) {
    header .logotipo {
        width: 25%;
    }

    .fade-slider {
        height: 54px;
    }
    .btnClose{
        right: 5%;
        top: 10px;
    }

    .menu .nav{
        margin-top: 25%;
        font-size: 20px;
        line-height: 40px;
    }
    .fa-bars{
        font-size: 35px;
        margin-right: 50px;
    }
    .grid .columna1{
        width: 50%;
    }
    .grid .photo1{
        height: 120px;
    }

    .grid .photo2{
        height: 120px;
    }

    .grid .photo3{
        height: 120px;
    }

    .grid .photo4{
       height: 120px;
    }

    .grid .photo5{
       height: 120px;
    }
    .grid .photo6{
       height: 120px;
    }

    .grid figure p{
        font-size: 14px;
    }
}